body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar-brand {
    padding:20px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap:20px;
    padding-right:20px;
    
}
  
  .navbar-menu li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-menu li a:hover {
    color: #ffc107;
  }
 .main-cotent{
    background-color:lightgrey;
    padding:0px;
    margin:0px;
  }

    
 }
  #Books{
   
   
  }
  }
 